body {
    background-color: black; /* Replace with your desired background color */
}

h1 {
    font-family: 'Courier New', Courier, monospace; /* Replace with your desired font family for h1 */
    color: darkgrey; /* Replace with your desired color for h1 */
}

h3 {
    font-family: 'Courier New', Courier, monospace; /* Replace with your desired font family for h3 */
    color: darkgrey; /* Replace with your desired color for h3 */
}

div {
    font-family: 'Courier New', Courier, monospace; /* Replace with your desired font family for div */
    color: darkgrey; /* Replace with your desired color for div */
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}


.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}